:root {
  --primary-color: #e74c3c;
  --secondary-color: #2c3e50;
  --background-color: #f0f0f0;
  --text-color: #333;
  --text-secondary: #555;
  --button-hover: #c0392b;
}

.about-details {
  padding: 40px 20px;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  text-align: center;
}

.about-details h2 {
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Georgia", serif;
}

.about-details p {
  line-height: 1.8;
  color: var(--text-secondary);
  margin-bottom: 20px;
  font-size: 1rem;
  max-width: 750px;
  margin: 0 auto 20px;
}

.about-image {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.book-now {
  margin-top: 30px;
}

.book-now-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  margin-bottom: 10px;
}

.book-now-button:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

/* Media Queries */
@media (max-width: 600px) {
  .about-details h2 {
    font-size: 2rem;
  }

  .about-details p {
    font-size: 0.95rem;
  }

  .book-now-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
