.aboutDetails {
  padding: 40px 20px;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  text-align: center;
}

.aboutDetails h2 {
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Georgia", serif;
}

.aboutDetails p {
  line-height: 1.8;
  color: var(--text-secondary);
  margin-bottom: 20px;
  font-size: 1rem;
  max-width: 750px;
  margin: 0 auto 20px;
}

.aboutImage {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.aboutImage img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.aboutImage img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.bookNow {
  margin-top: 30px;
}

.bookNowButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bookNowButton:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

/* Media Queries */
@media (max-width: 600px) {
  .aboutDetails h2 {
    font-size: 2rem;
  }

  .aboutDetails p {
    font-size: 0.95rem;
  }

  .bookNowButton {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
