.styled-section {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 40px 20px;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--background-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.left-section:hover,
.right-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.left-content,
.right-content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.left-content h1 {
  color: var(--titel-color);
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.left-content h2 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  text-align: center;
}

.benefit-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.right-content h3 {
  color: var(--titel-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.attraction-category {
  margin-bottom: 20px;
}

.attraction-category h4 {
  font-size: 1.2rem;
  color: var(--titel-color);
  margin-bottom: 10px;
}

.attraction-category ul {
  list-style-type: none;
  padding: 0;
}

.attraction-category li {
  font-size: 1rem;
  color: var(--text-color);
  margin: 5px 0;
}

.wow-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
  margin-top: 20px;
}

.wow-button:hover {
  background-color: var(--text-color);
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .styled-section {
    flex-direction: column;
    padding: 20px;
  }

  .left-content,
  .right-content {
    max-width: 100%;
    text-align: center;
  }

  .benefits-list {
    justify-content: center;
  }

  .benefit-item {
    flex: 1 1 45%;
    max-width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .benefit-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .benefit-icon {
    font-size: 2rem;
  }

  .wow-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .styled-section {
    padding: 10px;
  }

  .left-content h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .left-content h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .benefit-icon {
    font-size: 1.8rem;
  }

  .wow-button {
    font-size: 0.85rem;
    padding: 8px 16px;
  }
}
