:root {
  --title-color: #704214;
  --text-color: #34495e;
  --icon-background: #f7f7f7; /* Background pentru iconițe */
  --icon-border: #dddddd; /* Border pentru iconițe */
  --background-color: #ffffff; /* Fundalul general */
}

.facility-container {
  padding: 50px 0;
  background-color: var(--background-color);
  color: var(--text-color);
  border-top: 1px solid var(--title-color);
}

.facility-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
}

.facility-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 20px;
  text-align: center;
}

.facility-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.facility-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.facility-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.facility-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--icon-background);
  border: 1px solid var(--icon-border);
  border-radius: 50%;
  margin-bottom: 15px;
}

.facility-icon {
  color: var(--title-color);
  font-size: 30px;
}

.facility-item-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .facility-items {
    flex-direction: row;
    justify-content: center;
  }

  .facility-item {
    flex: 1 1 calc(50% - 20px); /* Ajustează elementele pentru a ocupa jumătate din lățimea disponibilă minus margini */
    margin: 10px;
  }

  .facility-title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .facility-item {
    flex: 1 1 100%; /* Ajustează elementele pentru a ocupa întreaga lățime pe ecrane foarte mici */
    margin: 10px 0;
  }

  .facility-title {
    font-size: 24px;
  }
}
