.facilityContainer {
  padding: 50px 0;
  background-color: var(--background-color);
  color: var(--text-color);
  border-top: 2px solid var(--title-color);
}

.facilitySubtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.facilityTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 30px;
  text-align: center;
}

.facilityItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
}

.facilityItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9; /* Ușoară umbră pe fundal */
  border-radius: 15px;
  box-shadow: 0 4px 10px var(--shadow-color); /* Umbră subtilă */
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.facilityItem.visible {
  opacity: 1;
  transform: translateY(0);
}

.facilityIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--secondary-color);
  border: 1px solid var(--title-color);
  border-radius: 50%;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.facilityIconWrapper:hover {
  background-color: var(--primary-color);
}

.facilityIcon {
  color: var(--background-color);
  font-size: 35px;
}

.facilityItemTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .facilityItems {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
  }

  .facilityItem {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    margin-bottom: 10px;
  }

  .facilityTitle {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .facilityItem {
    flex: 1 1 100%;
    margin: 10px 0;
    margin-bottom: 10px;
  }

  .facilityTitle {
    font-size: 1.75rem;
  }
}
