.infoHomeContainer {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infoHomeContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.infoImageContainer {
  flex: 1;
  max-width: 600px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infoImageContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.infoImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.infoContent {
  flex: 1;
  padding: 20px;
  color: var(--text-color);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infoContent.visible {
  opacity: 1;
  transform: translateY(0);
}

.infoTitle {
  font-size: 2.5rem;
  color: var(--title-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.infoDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text-color);
}

.infoStats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infoStats.visible {
  opacity: 1;
  transform: translateY(0);
}

.infoStatItem {
  text-align: center;
}

.statNumber {
  font-size: 2rem;
  color: var(--title-color);
}

.statText {
  font-size: 0.9rem;
  color: var(--text-color);
}

.infoButton {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infoButton.visible {
  opacity: 1;
  transform: translateY(0);
}

.infoButton:hover {
  background-color: var(--text-color);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .infoHomeContainer {
    flex-direction: column;
  }

  .infoImageContainer {
    max-width: 100%;
  }

  .infoStats {
    flex-direction: column;
  }

  .infoStatItem {
    margin-bottom: 10px;
  }
}
