.roomsSection {
  text-align: center;
  padding: 60px 20px;
  background-color: var(--background-color);
  font-family: var(--primary-font);
}

.sectionSubtitle {
  font-size: 1.3rem;
  color: var(
    --secondary-color
  ); /* Se utilizează --secondary-color pentru a asigura consistența */
  margin-bottom: 15px;
}

.sectionTitle {
  font-size: 2.8rem;
  color: var(--title-color);
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.roomsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 25px;
}

.viewAllRoomsButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.viewAllRoomsButton:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .roomsContainer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
