.roomsSection {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--background-color);
}

.sectionSubtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sectionTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 30px;
}

.roomsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.viewAllRoomsButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.viewAllRoomsButton:hover {
  background-color: var(--accent-color);
}

/* Media Queries */
@media (max-width: 1200px) {
  .sectionTitle {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .sectionTitle {
    font-size: 24px;
  }

  .viewAllRoomsButton {
    padding: 8px 16px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 20px;
  }

  .roomsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Asigură centrare pe ecrane mici */
  }

  .viewAllRoomsButton {
    width: 60%; /* Poate crește puțin lățimea butonului pe ecrane mici */
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .sectionTitle {
    font-size: 18px;
  }

  .viewAllRoomsButton {
    width: 100%;
    padding: 8px;
    font-size: 12px;
  }
}
