.testimonial-section {
  padding: 50px 20px;
  background-color: var(--background-color);
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 80px;
  font-family: var(--heading-font);
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.testimonial-card {
  padding: 20px;
  background: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: left;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.testimonial-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  font-family: var(--heading-font);
}

.testimonial-country,
.testimonial-date {
  font-size: 1rem;
  color: var(--text-color);
}

.testimonial-rating {
  font-size: 1.2rem;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.testimonial-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.testimonial-description {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

/* Media Queries */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }

  .testimonial-name,
  .testimonial-title {
    font-size: 1.2rem;
  }

  .testimonial-description {
    font-size: 0.9rem;
  }
}
