/* Element fixat în partea de sus a paginii */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asigură-te că este deasupra altor elemente */
}

/* Element fixat în partea de jos a paginii */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asigură-te că este deasupra altor elemente */
}

/* Element cu poziționare absolută în interiorul unui container cu poziționare relativă */
.container {
  position: relative;
  padding: 20px;
}

.absolute-element {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
}

.custom-title {
  padding: 40px 0;
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--title-color);
  text-align: center; /* Adăugare pentru a centra textul */
}

.custom-subtitle {
  color: var(--title-color);
  padding: 20px 0;
  text-align: center; /* Adăugare pentru a centra textul */
}

.form-container,
.info-container {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centrare orizontală */
  width: 100%; /* Asigură-te că ocupă întreaga lățime disponibilă */
  max-width: 1200px; /* Opțional: pentru a limita lățimea maximă */
  padding: 20px; /* Adăugați padding pentru spațiu interior */
  height: 63vh;
}

.info-container {
  background-color: var(--secondary-color);
  color: white;
  height: 62.9vh; /* Asigură-te că înălțimea nu depășește ecranul */
  overflow: hidden; /* Ascunde orice conținut care depășește */
}

.custom-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  margin: 10px 0; /* Adăugați margini pentru separarea elementelor */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: 2rem;
  color: var(--title-color);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--text-color);
}

.custom-button {
  background-color: var(--text-color) !important;
  color: white !important;
  padding: 8px 16px !important;
  font-size: 0.875rem !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #d4af37 !important;
}

@media (max-width: 600px) {
  .custom-info-item {
    flex-direction: column;
    align-items: flex-start; /* Asigură-te că elementele sunt aliniate la stânga pe ecrane mici */
  }

  .form-container,
  .info-container {
    padding: 10px; /* Reduce padding-ul pe ecrane mici */
  }

  .custom-button {
    width: 50%; /* Butonul ocupă întreaga lățime pe ecrane mici */
  }
}
