.contact-header {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1525905708812-b271b5e3b2f3?q=80&w=2129&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden; /* Hide overflow content */
}

.contact-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.contact-header-content {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  opacity: 1; /* Make sure content is visible */
  transform: translateY(0); /* Reset initial position for slide-in effect */
  animation: fadeInUp 1s forwards; /* Animation properties */
}

.contact-header-content h1 {
  margin-bottom: 0; /* Adjust space between h1 and content */
  font-size: 2.5rem; /* Adjust font size if necessary */
  color: #d4af37; /* Gold color for consistency */
}

/* Animation Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-header {
    height: 40vh; /* Adjust height for smaller screens */
  }

  .contact-header-content h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}
