.customTitle {
  padding: 40px 0;
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--title-color);
  text-align: center;
  font-family: var(--heading-font);
}

.customSubtitle {
  color: var(--title-color);
  padding: 20px 0;
  text-align: center;
  font-family: var(--primary-font);
}

.formContainer,
.infoContainer {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  height: 100%;
}

.infoContainer {
  color: white;
}

.customInfoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  margin: 10px 0;
  font-family: var(--primary-font);
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socialIcon {
  font-size: 2rem;
  color: var(--title-color);
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: var(--accent-color);
}

.customButton {
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 1rem !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.customButton:hover {
  background-color: var(--accent-color) !important;
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .customInfoItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .formContainer,
  .infoContainer {
    padding: 10px;
  }

  .customButton {
    width: 100%;
  }

  .customTitle {
    font-size: 1.8rem;
  }

  .customSubtitle {
    font-size: 1.2rem;
  }
}
