.accommodationContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: var(--background-color);
  box-shadow: 0 8px 24px var(--shadow-color);
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.accommodationContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.accommodationImageContainer {
  flex: 1;
  max-width: 480px;
  overflow: hidden;
  margin-right: 25px;
  border-radius: 15px;
  transition: transform 0.6s ease;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.accommodationImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.accommodationContent {
  flex: 2;
  padding: 20px;
  color: var(--text-color);
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.accommodationContent.visible {
  opacity: 1;
  transform: translateX(0);
}

.accommodationTitle {
  font-size: 3rem;
  color: var(--title-color);
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
  position: relative;
  letter-spacing: 1.5px;
  font-family: var(--heading-font);
}

.accommodationTitle::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: var(--primary-color);
}

.accommodationDescription {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 30px;
  color: var(--text-color);
  text-align: justify;
  font-family: var(--primary-font);
}

.accommodationStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.accommodationStats.visible {
  opacity: 1;
  transform: translateY(0);
}

.accommodationStatItem {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px var(--shadow-color);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-align: center;
}

.accommodationStatItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px var(--shadow-color);
}

.statTitle {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--heading-font);
}

.statDetails {
  font-size: 1.1rem;
  color: var(--text-color);
  font-family: var(--primary-font);
}

/* Stiluri pentru butonul de 'Vezi mai mult' */
.toggleButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px var(--shadow-color);
  font-family: var(--primary-font);
}

.toggleButton:hover {
  background-color: var(--accent-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .accommodationContainer {
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
  }

  .accommodationImageContainer {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .accommodationStats {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
