.priceRooms {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.roomsTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}

.roomsTitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3498db;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.roomsSubtitle {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 30px;
}

.roomSlide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  opacity: 0; /* Hidden initially for fade-in effect */
  transform: translateY(20px); /* Initial position for slide-in effect */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Smooth transition */
}

.roomSlide[data-aos="fade-up"] {
  opacity: 1; /* Ensure the opacity is set when animated */
  transform: translateY(0); /* Reset transform for slide-in effect */
}

.roomCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 55vh;
}

.roomCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.roomImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.roomBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background: #fff;
  height: 100%;
}

.roomTitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.roomBeds,
.roomDescription {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #34495e;
}

.roomFeatures {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roomFeatures li {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #2c3e50;
  margin-top: 8px;
}

.roomFeatures li svg {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .roomSlide {
    display: flex;
    justify-content: center;
  }

  .roomCard {
    max-width: 100%;
  }

  .roomsTitle {
    font-size: 1.5rem;
  }

  .roomsSubtitle {
    font-size: 0.9rem;
  }

  .roomTitle {
    font-size: 1.4rem;
  }

  .roomBeds,
  .roomDescription {
    font-size: 0.9rem;
  }
}
