.price-rooms {
  padding: 3rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center; /* Centrare text pentru titlu și descriere */
  overflow: hidden;
}

.rooms-title {
  font-size: 2.5rem;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.rooms-subtitle {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.room-slide {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.room-card {
  border: none;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem;
  background-color: #fff;
  text-align: center;
  width: 100%;
  max-width: 350px; /* Dimensiune maximă pentru carduri pe desktop */
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.room-img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.room-card .card-body {
  padding: 1.5rem; /* Reducerea padding-ului */
}

.room-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--title-color);
}

.room-beds {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.room-description {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.room-features {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-features li {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text-color);
  margin: 0.5rem 1rem;
}

.room-features li svg {
  margin-right: 0.5rem;
  color: var(--icons-color);
}

@media (max-width: 768px) {
  .room-card {
    height: auto;
    max-width: 100%;
  }

  .room-img {
    height: 200px; /* Înălțime mărită pentru imagine pe mobil */
  }

  .room-title {
    font-size: 1.5rem; /* Dimensiune mărită pentru titlu pe mobil */
  }

  .room-description,
  .room-beds {
    font-size: 0.9rem; /* Dimensiune mărită pentru text pe mobil */
  }

  .room-features {
    text-align: center;
  }
}

/* Ajustări pentru a face cardurile mai lungi pe desktop */
@media (min-width: 769px) {
  .room-slide {
    justify-content: center; /* Centrează cardurile pe desktop */
  }

  .room-card {
    height: auto;
    max-width: 400px; /* Dimensiune maximă mărită pentru carduri pe desktop */
  }

  .room-img {
    height: 300px; /* Înălțime mărită pentru imagine pe desktop */
  }

  .room-card .card-body {
    padding: 1.5rem; /* Spațiu redus pentru card-body pe desktop */
  }

  .room-title {
    font-size: 1.8rem; /* Dimensiune mărită pentru titlu pe desktop */
  }

  .room-description,
  .room-beds {
    font-size: 1rem; /* Dimensiune mărită pentru text pe desktop */
  }

  .room-features li {
    font-size: 0.9rem; /* Dimensiune mărită pentru caracteristici pe desktop */
  }
}
