.price-rooms {
  padding: 2rem 1rem;
  background-color: var(
    --background-color
  ); /* Fundal deschis pentru contrast */
}

.room-card {
  border: none;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem;
  background-color: #fff; /* Fundal alb pentru cartela */
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.room-card.flex-row-reverse {
  flex-direction: row-reverse;
}

.card-img {
  width: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.room-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(
    --background-color
  ); /* Fundal deschis pentru corpul cardului */
  border-radius: 0 0 15px 15px;
  padding: 1.5rem;
  width: 50%;
}

.room-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--titel-color); /* Text întunecat pentru titlu */
}

.room-card .card-text {
  color: var(--text-color); /* Text gri pentru descriere */
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.room-features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-features li {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text-color); /* Text gri închis pentru funcții */
  margin: 0.5rem 1rem;
}

.room-features li svg {
  margin-right: 0.5rem;
  color: var(--icons-color); /* Albastru pentru iconițe */
}

/* Responsive Design */
@media (max-width: 768px) {
  .room-card {
    flex-direction: column;
    height: auto;
  }

  .room-card.flex-row-reverse {
    flex-direction: column;
  }

  .card-img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
  }

  .room-card .card-body {
    width: 100%;
    border-radius: 0 0 15px 15px;
  }

  .room-card .card-title {
    font-size: 1.3rem;
  }

  .room-card .card-text {
    font-size: 0.8rem;
  }

  .room-features {
    text-align: center;
  }
}
