:root {
  --title-color: #333333;
  --text-color: #704214;
  --icons-color: #c1a17f;
  --background-color: #ffffff; /* Presupunând un fundal alb */
  --primary-color: #c1a17f; /* Similar cu icons-color */
  --secondary-color: #704214; /* Similar cu text-color */
  --accent-color: #333333; /* Similar cu title-color */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Umbră subtilă */
  --primary-font: "Lucida Handwriting", serif;
  --heading-font: "Lucida Handwriting", serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.75rem;
  color: var(--accent-color);
}

p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  font-size: 1.1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
}

.btn-primary:hover {
  background-color: var(--accent-color);
  color: white;
}

.icon {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--accent-color);
}
